POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
JWT_SECRET=long_string_secret
MY_ORIGIN=your_origin
AZURE_STORAGE_CONNECTION_STRING="your_azure_storage_connection_string"
AZURE_STORAGE_CONTAINER_NAME=your_container_name
